@import "./fonts/Livvic/stylesheet";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

body {
    font-family: 'Livvic', sans-serif;
    font-weight: normal;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 540px;
    }
}
